.profile {
  padding: 50px 0;
  display: flex;
  align-items: center;

  @media (max-width: 520px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
  }

  .left-container {
    width: 30%;

    @media (max-width: 600px) {
      width: 20%;
    }

    @media (max-width: 520px) {
      width: 100%;
      padding-left: 10px;
    }

    p {
      text-align: center;
      font-family: PoppinsBold;
      text-transform: uppercase;

      @media (max-width: 520px) {
        margin-bottom: 20px;
        text-align: start;
      }
    }
  }

  .right-container {
    width: 70%;

    @media (max-width: 600px) {
      width: 80%;
    }

    @media (max-width: 520px) {
      width: 100%;
    }

    .label-1 {
      font-size: 14px;
      width: 70%;

      @media (max-width: 600px) {
        width: 90%;
      }

      @media (max-width: 520px) {
        margin-left: 10px;
      }

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}
