.profile {
  height: 300px;
  margin-top: 40px;
  display: flex;
  align-items: center;

  .left-container {
    width: 30%;

    p {
      text-align: center;
      font-family: PoppinsBold;
      text-transform: uppercase;
    }
  }

  .right-container {
    width: 70%;

    .label-1 {
      font-size: 14px;
      width: 70%;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}
