.testimonials {
  padding: 50px 0;

  @media (max-width: 520px) {
    padding: 20px 0;
  }

  .testimonial {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    position: relative;

    @media (max-width: 750px) {
      flex-direction: column;
      align-items: center;
    }

    .svg {
      position: absolute;
      width: 60px;
      height: 60px;
      top: calc(50% - 30px);
      border-radius: 50%;
      background-color: white;
      display: grid;
      place-items: center;
      cursor: pointer;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .left {
      left: -70px;
      transform: rotate(180deg);

      @media (max-width: 465px) {
        left: 0px;
      }
    }

    .right {
      right: -70px;

      @media (max-width: 465px) {
        right: 0px;
      }
    }

    .image {
      width: 320px;
      height: 450px;
      display: flex;
      overflow-x: hidden;

      @media (max-width: 750px) {
        width: 280px;
        height: 350px;
      }

      @media (max-width: 465px) {
        width: 70%;
        height: 380px;
      }

      @media (max-width: 415px) {
        width: 65%;
        height: 350px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      width: 320px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;

      @media (max-width: 750px) {
        width: 320px;
        height: 140px;
        padding-top: 20px;
        justify-content: flex-start;
      }

      .comment {
        font-size: 16px;
      }

      .name {
        font-weight: 600;
        color: grey;
        margin-top: 15px;
        font-size: 14px;
      }

      .role {
        color: grey;
        font-size: 14px;
      }
    }
  }
}
