.banner {
  display: flex;
  position: relative;

  @media (max-width: 580px) {
    flex-direction: column;
  }

  .content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 580px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }

    .scroll-button {
      position: absolute;
      bottom: 30px;
      left: 8vw;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #c29590;
      display: grid;
      place-items: center;
      cursor: pointer;

      @media (max-width: 785px) {
        left: 6vw;
      }

      @media (max-width: 580px) {
        bottom: 70px;
      }
    }

    .name-wrapper {
      overflow-y: hidden;

      .name {
        font-size: 60px;
        font-weight: 600;

        @media (max-width: 970px) {
          font-size: 50px;
        }

        @media (max-width: 785px) {
          font-size: 36px;
        }

        @media (max-width: 580px) {
          color: white;
        }

        span {
          -webkit-text-stroke: 2px black;
          -webkit-text-fill-color: white;

          @media (max-width: 580px) {
            -webkit-text-stroke: 1px white;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .description {
      font-size: 20px;
      text-align: start;

      @media (max-width: 580px) {
        color: white;
      }
    }
  }
  .image {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: pink;

    @media (max-width: 580px) {
      height: 100vh;
      width: 100vw;
      filter: blur(1px);
    }

    img {
      width: 50vw;
      height: 100vh;
      object-fit: cover;

      @media (max-width: 580px) {
        height: 100vh;
        width: 100vw;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
      z-index: 100;
    }
  }
}
