.banner {
  display: flex;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .scroll-button {
      position: absolute;
      bottom: 30px;
      left: 8vw;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #c29590;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    .name-wrapper {
      height: 70px;
      overflow-y: hidden;

      .name {
        font-size: 60px;
        font-family: PoppinsBold;
        line-height: 65px;

        span {
          -webkit-text-stroke: 2px black;
          -webkit-text-fill-color: white;
        }
      }
    }
    .description {
      font-size: 20px;
      font-family: Poppins;
      text-align: start;
    }
  }
  .image {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    img {
      width: 50vw;
      height: 100vh;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: white;
      z-index: 100;
    }
  }
}
